@model WebApplication3.Models.tbl_model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadTable</title>
</head>
<body>
    <div class="form-control">
        <h2>Read Data From Word Table</h2> 
        <table class="table-bordered">
            <tr>
                <td>
                    Name :
                </td>
                <td>
                    @Model.name
                </td>
            </tr>
            <tr>
                <td>
                    Contact No :
                </td>
                <td>
                    @Model.cnt
                </td>
            </tr>

            <tr>
                <td>
                    Qualification :
                </td>
                <td>
                    @Model.qualification
                </td>
            </tr>


            <tr>
                <td>
                    Email :
                </td>
                <td>
                    @Model.email
                </td>
            </tr>



        </table>
    </div>
</body>
</html>
