

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadFile</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div > 
        
            @using (Html.BeginForm("Readwordfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <center>
                    <h2>Demo for read content from word file and display in table </h2>
                    <div style="padding:5px" class="form-group">
                        <b>Select Word File  :</b>
                    </div>
                    <div style="padding:5px" class="form-group">
                        <input type="file" name="uploadfile" id="uploadfile" />
                    </div>
                    <div style="padding:5px" class="form-group">
                        <input type="submit" value="Upload" class="btn-success" />
                    </div>
                    <h2>
                        <b>Note : </b> Only <b>".docx"</b> file support.
                    </h2>
                </center>
            }
        
    </div>
</body>
</html>
